<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>GoScrape</title>
    <style>
        h1 {
            color : blue;
            text-align : center;
        }
    </style>
</head>
<body>
    {{template "partials/header" .}}
    <h1>This project was built to learn upon basic and more advanced stuff around web scraping, networking technologies <br>
    and most importantly how Go works in these kind of environments.</h1>
    <p>PS. why not blue?</p>
    {{template "partials/footer" .}}
</body>
</html>
