<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>hey</title>
</head>
<body>
  {{template "partials/header" .}}
    

    <form id="myForm" action="/process" method="POST">

        <label for="url">Enter URL here</label>
        <input type="text" name="url" id="url" placeholder="URL">

        
            <input type="radio" name="generateFILE" id="generateCSV" value="generateCSV" required>
            <label for="generateCSV">Generate CSV</label>
        
            <input type="radio" name="generateFILE" id="generateXLSX" value="generateXLSX">
            <label for="generateXLSX">Generate XLSX</label>
        
            <input type="radio" name="generateFILE" id="generatePDF" value="generatePDF">
            <label for="generatePDF">Generate PDF</label>
        
            <input type="radio" name="generateFILE" id="generateJSON" value="generateJSON">
            <label for="generateJSON">Generate JSON</label>
        

        <input type="submit" id="submit">

        <a id="downloadButton" style="display: none;">Download CSV</a>
    </form>

    
    {{template "partials/footer" .}}


    <script>
       // Wait for the DOM to load
document.addEventListener('DOMContentLoaded', () => {
  // Get the form element
  const form = document.getElementById('myForm');

  // Add submit event listener to the form
  form.addEventListener('submit', async (event) => {
    event.preventDefault(); // Prevent the form from submitting normally

    // Get the selected radio button value
    const generateFILE = document.querySelector('input[name="generateFILE"]:checked').value;

    // Get the URL input value
    const url = document.getElementById('url').value;

    // Perform validation
    if (url === '') {
      alert('Please enter a URL');
      return;
    }

    // Create a data object to send to the backend
    const data = {
      url,
      generateFILE
    };

    try {
      // Send the data to the backend using fetch
      const response = await fetch('/process', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      if (response.ok) {
        // Parse the response as JSON
        const {filePath} = await response.json();

        // Display the download link
        const downloadButton = document.getElementById('downloadButton');
        downloadButton.style.display = 'block';
        downloadButton.href = `/download?filePath=${encodeURIComponent(filePath)}`; // Set the href of the download link to the file path
        downloadButton.download = ''; // Set the download attribute to enable downloading

    
      } else {
        // Handle error response
        throw new Error('Error: ' + response.statusText);
      }
    } catch (error) {
      // Handle network error
      alert('Error: ' + error.message);
    }
  });
});

    </script>
</body>
</html>